Source: asgard
Section: games
Priority: extra
Maintainer: Russ Adams <russ.adams@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cdbs, scons, libboost-thread-dev, libboost-signals-dev, libsdl1.2-dev, libsdl1.2-image-dev, python2.6-dev
Standards-Version: 3.9.2
Homepage: http://wiki.asgardrpg.org

Package: asgard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: classic, epic video roleplaying game
 Asgard is a role playing game complete with menus, random battles, maps, towns
 and dungeons. But this is not just about the game. Join the community of
 developers, writers and artists. Our goal is to deliver a rich and beautiful,
 free software RPG to gamers everywhere.  Asgard is in pre-alpha development.
